<div class="page-header">
    <div class="container">
        <div class="header">
            <section class="text-small">
                <day-name />
            </section>
            <section class="text-center logo">
                <img src="/images/llf-amador.svg" alt="La Liga Filipina" />
            </section>
            <section class="text-right text-small">
                <weather-container class="text-capitalize" />
            </section>
        </div>
    </div>
</div>

<div class="page-topnav" style="border-bottom: 1px solid var(--border-color); padding: .5rem;">
    <div class="container text-center">
        <small class="mr-2"><strong>Archives</strong></small>
        <small class="mr-2"><strong>Search</strong></small>
        <small class="mr-2"><strong>About</strong></small>
        <small><strong>Newsletter</strong></small>
    </div>
</div>