<div class="page-header">
    <div class="container">
        <div class="header">
            <section class="text-small">
                <router-view name="dayName" />
            </section>
            <section class="text-center logo">
                <a href="/">
                    {{ partial "logo" . }}
                </a>
            </section>
            <section class="text-right text-small">
                <router-view name="weatherContainer"></router-view>
            </section>
        </div>
    </div>
</div>

<div class="page-topnav">
    <div class="container text-center">
        <!-- <small class="mr-2"><strong>Archives</strong></small>
        <small class="mr-2"><strong>Search</strong></small>
        <small class="mr-2"><strong>About</strong></small>
        <small><strong>Newsletter</strong></small> -->
        <!-- <strong>Tunay at Totoo Para sa Pilipino</strong> -->
    <a href="#" class="text-normal"><strong><small>Issues</small></strong></a>
    <span class="text-faded pr-1">|</span>
    {{- with .Site.Data.nav.tags -}}
    {{ range .}}
    <a href="/tags/{{.slug}}" class="text-normal">
        <strong>
            <small>{{.label}}</small>
        </strong>
    </a>
    {{ end }}
    {{- end -}}
    </div>
</div>