<header class="bg-white">
    <div class="pb-3 pt-4 border-b text-zinc-700" id="top-nav">
        <div class="container lg:pl-10 lg:pr-10 max-w-screen-lg m-auto pl-4 pr-4">
            <div class="flex flex-row justify-between items-center">
                <section class="text-xs md:text-small">
                    <router-view name="dayName" />
                </section>
                <section class="text-center logo">
                    <a href="/" title="La Liga Filipina" class="block text-black w-[180px] h-[34px] md:w-[240px] md:h-[45px] lg:w-[270px] lg:h-[52px]">
                        {{ partial "logo" }}
                    </a>
                </section>
                <section class="text-right text-xs md:text-small">
                    <router-view name="weatherContainer"></router-view>
                </section>
            </div>
        </div>
    </div>

    <div class="border-b text-zinc-700 pl-4 pr-4 pt-3 pb-3 md:pt-1 md:pb-1" id="sub-nav">
        <div class="flex max-[400px]:justify-between min-[400px]:container min-[400px]:justify-center md:pt-2 md:pb-2">
        {{- with .Site.Data.nav.tags -}}
        {{ range .}}
            <a href="/tags/{{.slug}}" class="text-xs md:text-small min-[400px]:pl-2 min-[400px]:pr-2">
                <strong>{{.label}}</strong>
            </a>
        {{ end }}
        {{- end -}}
            <a href="/archives/" class="text-xs text-amber-500 md:text-small min-[400px]:pl-2 min-[400px]:pr-2">
                <strong>Archives</strong>
            </a>
        </div>
    </div>
</header>