<section class="hero">
    <div class="mx-auto">
        {{ $heroLink := .url }}
        {{ if .shortUrl }}
            {{ $heroLink = .shortUrl }}
        {{ end }}

        <a href="{{ $heroLink }}">
            <div class="hero-container">
                <h1 class="hero-lead">
                    {{ .title | safeHTML }}

                    {{ $articleUrl := urls.Parse .url }}
                    <p class="hero-source">
                        {{ replace $articleUrl.Host "www." "" }}
                    </p>
                </h1>
                <p class="hero-dek">
                    {{ .description | safeHTML }}
                </p>
                <p class="hero-source">
                    {{ replace $articleUrl.Host "www." "" }}
                </p>
            </div>
        </a>
    </div>
</section>