<a href="{{ .url }}" title={{ .title }} class="block pt-3 pb-3 border-t last:m-b-6">
    <h3 class="text-base text-sm text-gray-800 leading-4 mb-1 md:leading-5 capitalize flex">
        <div class="pr-2 ml-4">
            <span class="font-semibold">
                {{ .title }}
            </span>
            {{ if .date }}
            <span class="text-zinc-500">
                - {{ .date | time.Format ":date_long" }}
            </span>
            {{- end -}}
            <br />
            <span class="text-xs text-amber-500 block mt-1 lowercase">
                {{ $articleUrl := urls.Parse .url }}
                {{ replace $articleUrl.Host "www." "" }}
            </span>
        </div>
        <span class="font-bold pl-2 pt-1 pr-3">
            {{ partial "external-link" }}
        </span>
    </h3>
</a>