.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex > .col-3 {
    flex-basis: 32%;
    width: 32%;
}

.flex > .col-4 {
    flex-basis: 24.5%;
    width: 24.5%;
}