.markdown {
    font-size: 17px;
}

.markdown h1{
    text-align: center;
    line-height: 1.25;
    font-size: 1.5rem;
}

.markdown .frame{
    border: 4px solid #f0f0f0;
    box-shadow: 1px 0px 28px -5px rgba(0,0,0,0.25);
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.markdown iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border:0;
}

@media (min-width: 960px) {
    .markdown h1{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}