.underlined-hed{
    margin-bottom: 0;
    border-bottom: 2px solid #222;
    display: inline-block;
    position: relative;
    top: 2px;
    padding-bottom: 1rem;
    width: 30%;
    text-transform: uppercase;
    font-size: 0.75rem;
}