<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  {{ block "meta" . -}}{{ partial "meta" . }}{{- end -}}
  {{- $stylesheet := .Site.Data.webpack.main }}
  {{- with $stylesheet.css }}
  <link href="{{ relURL . }}" rel="stylesheet">
  {{ end -}}
</head>
<body class="text-gray-700">
  <div id="app" class="min-h-full grid grid-rows-[1fr_auto]">
    <section>
      {{- block "header" . -}}{{ partial "header" . }}{{- end -}}
      {{- block "main" . }}{{- end -}}
    </section>
    <footer class="row-start-2 row-end-3">
      <div class="w-full relative top-[1px]">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%">
          <path fill="#111827" fill-opacity="1" d="M0,96L1440,160L1440,320L0,320Z" width="100%" height="20"></path>
        </svg>
      </div>
      <div class="bg-gray-900 pb-2">
        {{- block "footer" . }}{{ partial "footer" . }}{{ end -}}
      </div>
    </footer>
  </div>
  {{- range $elem_key, $elem_val := .Site.Data.webpack }}
    {{- with $elem_val.js }}<script src="{{ relURL . }}" defer></script>{{ end }}
  {{ end -}}
</body>
</html>
