{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<article class="content">
  <main class="container pt-1 pl-1 pr-1">
    <section class="markdown">
      <h1 class="mb-1">{{ .Title }}</h1>
      <p class="mb-2">{{ .Description }}</p>
      {{- .Content -}}
      <div class="content-tags mt-3 mb-2">
        {{- with .Params.tags }}
          {{ range . }}
            <a href="{{ "tags" | absURL }}/{{ . | urlize }}" class="tag">{{ . }}</a>
          {{ end }}
        {{ end -}}
      </div>
    </section>
  </main>
</article>
{{ end }}
