{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<article class="content">
  <main class="container pt-1 pl-1 pr-1">
    <section class="markdown">
      <!-- <textarea>{{ printf "%#v" $.Site }}</textarea> -->
      <h1 class="mb-1">{{ .Title }}</h1>
      <p class="text-faded">{{ .Description }}</p>
      {{- .Content -}}
      <div class="tags mt-3 mb-2">
        {{- with .Params.tags }}
        <ul id="tags">
          {{ range . }}
            <li> <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        {{ end -}}
      </div>
    </section>
  </main>
</article>
{{ end }}
