{{ define "main" }}

{{ $section := .Site.GetPage "section" .Section }}
<section class="pl-4 pr-4 mb-14 mt-16 max-w-screen-lg m-auto">
  <main class="pt-1 pb-1 md:pl-20 md:pr-20">
    <h1 class="hero-lead">{{ .Title }}</h1>
    {{- .Content -}}
    <div class="mt-14">
      {{ range sort $.Site.Data.nav.issues "value" "desc" }}
        {{ $issueData := index $.Site.Data.issues (string .) }}
        <p class="mb-4">
          <a href="/issues/{{ . }}">
            <span class="text-xl font-bold mr-2 text-amber-500">
              {{ . }}
            </span>
            {{ $issueData.issue.date }}
          </a>
        </p>
      {{- end -}}
    </div>
  </main>
</section>
{{ end }}