{{ define "main" }}

{{ $section := .Site.GetPage "section" .Section }}
<section class="pl-4 pr-4 mb-14 mt-16 max-w-screen-lg m-auto">
  <main class="pt-1 pb-1 md:pl-28 md:pr-28">
    <h1 class="hero-lead">{{ .Title }}</h1>
    {{- .Content -}}
    <div class="mt-14">
      {{ range $key, $value := (first 11 (sort $.Site.Data.issues ".issue.number" "desc")) }}
        {{- if gt $key 0 }}
        <div class="mb-8 md:mb-12 last:mb-0">
          <a href="/issues/{{ .issue.number }}" class="flex">
            <div class="basis-2/6 md:basis-1/6">
              <span class="text-xs text-amber-500">Issue</span><br />
              <span class="text-xl md:text-2xl font-bold mr-2 text-amber-500">
                {{ $value.issue.number }}
              </span>
            </div>

            <div class="basis-4/6 md:basis-5/6 pt-2 md:pt-1 md:pr-2">
              <p class="text-xs mb-1 text-gray-800 mt-[2px]">
                {{ $value.issue.date | time.Format ":date_full" }}
              </p>

              <h2 class="capitalize font-extrabold text-xl leading-7 mb-1">
                {{ range (last 1 (findRE `<h1.*?>(.*?)</h1>` $value.hero.content)) }}
                  {{ $heading := replaceRE `<small.*>.*<\/small>` `` (. | safeHTML) }}
                  {{ replaceRE `<[^>]*>` `` $heading }}
                {{ end }}
              </h2>

              <p class="capitalize">
                <span class="font-semibold mr-[2px]">Trending News:</span>
                {{ $value.ticker.primary.lead | safeHTML }}
              </p>
            </div>
          </a>
        </div>
        {{ end -}}
      {{- end -}}
    </div>
  </main>
</section>
{{ end }}