{{ define "main" }}

{{ $section := .Site.GetPage "section" .Section }}
<section class="pl-4 pr-4 mb-14 mt-16 max-w-screen-lg m-auto">
  <main class="container-small pt-1 pb-1 md:pl-20 md:pr-20">
    <h1 class="text-3xl leading-7 font-extrabold text-gray-800">{{ .Title }} Stories</h1>
    {{- .Content -}}
    <div class="mt-14">
      <ul>
        {{ range .Pages.ByDate.Reverse }}
            <li class="mb-8 border-t pt-8 last:border-b last:pb-12">
                <a href="{{.Permalink}}">
                  <h3 class="font-bold capitalize text-gray-800 mb-1">{{.Title}}</h3>
                  <p class="text-gray-700">{{.Description}}</p>
                </a>
                <p>
                  <span class="text-xs text-gray-500">
                    <a href="/issues/{{ .Params.issues }}" class="">Issue: {{ .Params.issues }} | Published: {{.Date.Format "January 02, 2006"}}</a>
                  </span>
                </p>
            </li>
        {{ end }}
      </ul>
    </div>
  </main>
</section>
{{ end }}