@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
html,
body {
  margin: 0;
  padding: 0;
  height: calc(100% - 50px); /* 50px = 1/2 of the scroll padding*/
  box-sizing: border-box;
}

/* Fixed Header Position */
html {
  /*height of sticky header*/
  scroll-padding-top: 100px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

  header * {
    transition: all .200s ease-out;
  }
  header #top-nav{
    /* background-color: rgba(24,24,27,0); */
  }
  header #top-nav.active {
    /* background-color: rgba(24,24,27,0.035); */
    @apply pt-3 pb-3;
    /* @apply text-gray-300 border-b-zinc-800 pt-3 pb-3; */
  }
  header #top-nav.active .logo {
    /* @apply text-white; */
  }
  header #top-nav.active .logo a{
    /* @apply w-[180px] h-[34px] text-white md:w-[200px] md:h-[38px]; */
    @apply w-[180px] h-[34px] md:w-[200px] md:h-[38px];
  }

  header #sub-nav{
    /* background-color: rgba(24,24,27,0); */
  }
  header #sub-nav.active {
    /* background-color: rgba(24,24,27,0.035); */
    /* @apply text-gray-100 pt-0 pb-1; */
    /* background-color: rgba(24,24,27,0.04); */
    @apply pt-2 pb-2 md:pt-0 md:pb-0;
  }

body {
  margin-top: 100px;
}

@media (min-width: 768px) {
  body.issues {
    margin-top: 110px;
  }
}

@media (min-width: 1024px) {
  body.issues {
    margin-top: 120px;
  }

  body.issues .hero {
    @apply lg:pt-20;
  }
}

.hero {
  @apply pt-16 pb-12 pl-10 pr-10 border-b mb-0;
  @apply md:pl-0 md:pb-10 md:pt-14 md:pr-0 lg:pt-24 lg:pb-20;
  background-color: #f8f8f8;
}

.hero-container {
  @apply md:pl-10 md:pr-10 md:pt-2 md:pb-1 lg:pl-28 lg:pr-24;
  @apply max-w-screen-lg m-auto;
}

.hero-lead {
  @apply text-2xl leading-7 font-extrabold text-gray-800 capitalize;
  @apply md:text-4xl;
  text-shadow: #fff 1px 1px;
}

.hero-dek {
  @apply text-sm mt-2 mb-4 text-neutral-600 leading-5;
  @apply md:text-base md:mt-4 md:leading-6;
  text-shadow: #fff 1px 1px;
}

.hero-source {
  @apply text-amber-500 text-xs lowercase font-normal;
}

.breadcrumb .divider {
  @apply text-zinc-300 pl-2 pr-2;
}

.dark .hero {
  @apply bg-zinc-900;
}

.dark .hero-lead,
.dark .hero-dek{
  @apply text-neutral-200;
  text-shadow: none;
}

.centered .hero-lead,
.centered .hero-dek {
  text-align: center;
}

.dark.breadcrumb {
  @apply bg-zinc-900 text-neutral-200;
}

.dark .breadcrumb-container {
  @apply border-b-zinc-800;
}

.dark.breadcrumb .divider{
  @apply text-zinc-500;
}

.hero-clock {
  float: left;
  margin-left: -2px;
  width: 15px;
  margin-right: 7px;
}

/* 2-column hero */
.col-2 .hero-container {
  @apply md:flex md:justify-between lg:pl-10 lg:pr-10;
}

.col-2 .hero-lead {
  @apply md:basis-[60%] md:pt-4 lg:basis-[65%] lg:pr-4
}

.col-2 .hero-lead .hero-source {
  @apply relative top-[-5px] hidden md:inline;
}

.col-2 .hero-dek{
  @apply md:basis-[35%];
}

.col-2 .hero-dek .hero-source {
  @apply md:hidden;
}

.list-arrow li::before{
  content: "\00B7";
  position: absolute;
  @apply text-zinc-700 text-3xl leading-4;
  margin-left: -20px;
}

.list-arrow .list-none::before{
  content: '';
}

.list-arrow li {
  @apply pl-1;
}

.list-arrow .list-none{
  @apply pl-0;
}

.markdown .twitter-tweet,
.markdown iframe.instagram-media{
  margin-left: auto !important;
  margin-right: auto !important;
}

.markdown iframe.youtube-media {
  @apply absolute top-0 left-0 w-[100%] h-[100%];
}

.markdown .timeline{
  @apply border-t pt-4 mt-4;
}

.markdown .timeline ul {
  margin-left: 1em;
}

.markdown .timeline li {
  display: flex;
  margin-bottom: .5em;
}

.markdown .timeline li::before{
  content: '-';
  position: absolute;
  color: rgba(183, 183, 183, 0.75);
  margin-left: -1em;
}

.markdown .timeline li :first-child{
  display: block;
  width: 70px;
}

.markdown .timeline li :last-child{
  display: block;
  width: calc(100% - 70px);
  line-height: 1.25;
}

.markdown p {
  @apply mb-6;
}

.markdown a {
  @apply text-amber-500;
}

.markdown blockquote {
  @apply pl-8 pr-8 md:pl-12 md:pr-20;
}

/* Tailwind Utilities - prepend with "x" */
.xfont-medium {
  @apply font-medium text-gray-900;
}