@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Fixed Header Position */
html {
  scroll-padding-top: 100px; /* height of sticky header */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

body {
  margin-top: 100px;
}

/* Light Youtube Embed */
@import "lite-youtube-embed/src/lite-yt-embed.css";

lite-youtube::before {
  height: 100%;
  background-size: cover;
  opacity: 0.5;
}

lite-youtube > .lty-playbtn {
  transform: none;
  background-image: none;
  filter: none;
  transition: none;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,.85);
  top: 30%;
  left: 40%;
}

.lyt-visually-hidden {
  overflow: hidden;
  clip: unset;
  clip-path: unset;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgba(255,255,255,.85);
  left: calc(50% - 5px);
  top: calc(50% - 15px);
}

.hero {
  @apply pt-16 pb-16 pl-10 pr-10 border-b;
  @apply md:pl-0 md:pr-0;
  background: #f4f4f4;
}

.hero-container {
  @apply md:pl-8 md:pr-8
}

.hero-lead {
  @apply text-xl leading-7 font-bold text-gray-800;
  @apply md:text-2xl md:leading-9;
  text-shadow: #fff 1px 1px;
}

.hero-dek {
  @apply text-sm mt-2 mb-4 text-neutral-600;
  @apply md:text-base;
  text-shadow: #fff 1px 1px;
}