{{- define "main" }}

{{- with .Site.Data.home.latest.hero -}}
    {{ .content | safeHTML }}
{{- end -}}

{{- with .Site.Data.home.latest.ticker -}}
<div class="container pl-4 pr-4 mt-10 mb-5 text-xs border-b">
    <span class="section-pill">In Depth</span>
</div>
<section class="bg-light mb-2">
    <div class="container pl-4 pr-4">
        <div class="border mt-6 pb-6 rounded bg-gray-50">
            <ul role="list" class="list-disc ml-6 mt-2 w-[83%]">
                <li class="pt-3 mb-2 pb-4 leading-3 border-b list-none">
                    <a href="{{ .primary.url }}" class="text-base text-gray-800">
                        <strong>{{ .primary.title }}</strong><br />
                        <span class="text-neutral-600 text-sm">{{ .primary.description }}</span>
                    </a>
                </li>
                {{- range .secondary }}
                <li class="ml-4 mb-0 pb-0 leading-3 pt-3">
                    <a href="{{ .url }}" class="text-sm text-gray-900">
                        {{ .title }}
                    </a>
                </li>
                {{ end -}}
            </ul>
        </div>
    </div>
</section>
{{- end -}}

{{- with .Site.Data.home.latest.carousel -}}
<div class="container pl-4 pr-4 mt-10 mb-5 text-xs border-b">
    <span class="section-pill">Featured</span>
</div>
<div class="mb-4">
    <div class="container pl-4 pr-4">
        <div>
            {{- range . }}
            <a href="{{ .url }}" class="flex flex-row-reverse items-start border-b mb-4 pb-5 pt-2 last:border-0">
                <div class="text-gray-800">
                    <h3 class="font-bold text-base leading-5 mb-1">{{ .title }}</h3>
                    <p class="text-sm text-neutral-600">{{ .description }}</p>
                </div>
            </a>
            {{ end -}}
        </div>
    </div>
</div>
{{- end -}}

{{- end -}}
